.posisi{
    
    position: fixed;
    
}
body{
    margin: 0;
}
#two {
    top: -240px;
    right: 20px;
    position: absolute;
  }
@media screen and (min-width: 320px) {
    #two {
        top: -200px;
        right: 20px;
        position: absolute;
      }
  }
@media screen and (min-width: 833px) {
    #two {
        top: -250px;
        right: 90px;
        position: absolute;
      }
  }
  

  